# Ignore virtual environments
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore local data files
data/scraped_data.json

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db
